@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(15rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-15rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade_move_down {
  0% {
    bottom: 10%;
    opacity: 0; }
  50% {
    bottom: 15%;
    opacity: 1; }
  100% {
    bottom: 10%;
    opacity: 0; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }
  *:focus, *:active {
    outline: none !important; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: #0E0B16;
  overflow-x: hidden; }
  @media only screen and (max-width: 100em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 90em) {
    html {
      font-size: 56.25%;
      overflow-y: visible !important; } }
  @media only screen and (max-width: 65em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 560px) {
    html {
      font-size: 40%; } }

body {
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased; }

main {
  min-height: 65vh; }

a:link,
a:visited {
  color: #0d65f1; }

a:focus,
a:active {
  outline: none; }

::-moz-selection {
  background-color: #4717F6;
  color: #F6F7EB; }

::selection {
  background-color: #4717F6;
  color: #F6F7EB; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #000; }

body::-webkit-scrollbar {
  width: 12px;
  background-color: #000; }

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #4717F6; }

.title {
  font-size: 5rem;
  padding-top: 10rem;
  color: #F6F7EB;
  text-align: center; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  mix-blend-mode: exclusion;
  animation: moveInTop 1s ease 0.5s;
  animation-fill-mode: backwards;
  overflow: hidden; }
  @media only screen and (max-width: 560px) {
    .navigation {
      position: fixed;
      top: 0;
      padding: 1% 0;
      overflow: visible; } }
  .navigation-logo, .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover; }
    .navigation-logo, .footer-logo, .navigation-logo:link, .footer-logo:link, .navigation-logo:visited, .footer-logo:visited {
      text-decoration: none; }
    @media only screen and (max-width: 65em) {
      .navigation-logo, .footer-logo {
        height: 100px;
        width: 300px; } }
    @media only screen and (max-width: 560px) {
      .navigation-logo, .footer-logo {
        height: 100px;
        width: 250px; } }
    @media only screen and (max-width: 400px) {
      .navigation-logo, .footer-logo {
        height: 100px;
        width: 225px;
        padding-left: 2rem; } }
    .navigation-logo_image {
      transform: scale(0.5); }
      @media only screen and (max-width: 560px) {
        .navigation-logo_image {
          transform: scale(0.4); } }
      @media only screen and (max-width: 400px) {
        .navigation-logo_image {
          transform: scale(0.4); } }
    .navigation-logo_text {
      color: #F6F7EB;
      font-size: 3rem; }
  .navigation-links {
    display: flex; }
    @media only screen and (max-width: 65em) {
      .navigation-links {
        display: none; } }
    .navigation-links > *, .navigation-links > *:link, .navigation-links > *:visited {
      text-decoration: none;
      color: #F6F7EB;
      margin-left: 3rem;
      font-size: 2.4rem; }
      .navigation-links > *::after, .navigation-links > *:link::after, .navigation-links > *:visited::after {
        content: "";
        position: relative;
        display: block;
        height: 3px;
        width: 100%;
        background-color: #4717F6;
        transform: scaleX(0);
        transform-origin: 0%;
        transition: transform 500ms ease;
        top: 2px; }
      .navigation-links > *:hover::after, .navigation-links > *:link:hover::after, .navigation-links > *:visited:hover::after {
        transform: scaleX(1); }
      .navigation-links > *:hover, .navigation-links > *:link:hover, .navigation-links > *:visited:hover {
        cursor: pointer; }
    .navigation-links_active::after {
      content: "";
      position: relative;
      display: block;
      height: 3px;
      width: 100%;
      background-color: #F6F7EB;
      transform: scaleX(1) !important;
      transform-origin: 0%;
      top: 2px; }
  .navigation-hamburger {
    display: none; }
    @media only screen and (max-width: 65em) {
      .navigation-hamburger_active {
        display: flex;
        flex-direction: column;
        background-color: #F6F7EB;
        padding: 1rem 2rem;
        position: fixed;
        top: 80px;
        right: 10px;
        overflow: hidden;
        animation: fadeIn 0.5s ease;
        animation-fill-mode: both; } }
    .navigation-hamburger_active > *, .navigation-hamburger_active > *:link, .navigation-hamburger_active > *:visited {
      text-decoration: none;
      color: #F6F7EB;
      font-size: 2.4rem; }
      .navigation-hamburger_active > *:not(:last-child), .navigation-hamburger_active > *:link:not(:last-child), .navigation-hamburger_active > *:visited:not(:last-child) {
        margin-bottom: 2rem; }
      .navigation-hamburger_active > *::after, .navigation-hamburger_active > *:link::after, .navigation-hamburger_active > *:visited::after {
        content: "";
        position: relative;
        display: block;
        height: 3px;
        width: 100%;
        background-color: #4717F6;
        transform: scaleX(0);
        transform-origin: 0%;
        transition: transform 500ms ease;
        top: 2px; }
      .navigation-hamburger_active > *:hover::after, .navigation-hamburger_active > *:link:hover::after, .navigation-hamburger_active > *:visited:hover::after {
        transform: scaleX(1); }
      .navigation-hamburger_active > *:hover, .navigation-hamburger_active > *:link:hover, .navigation-hamburger_active > *:visited:hover {
        cursor: pointer; }
    @media only screen and (max-width: 65em) {
      .navigation-hamburger_close {
        display: flex;
        flex-direction: column;
        background-color: #F6F7EB;
        padding: 1rem 2rem;
        position: fixed;
        top: 80px;
        right: 10px;
        overflow: hidden;
        animation: fadeOut 0.5s ease;
        animation-fill-mode: both; }
        .navigation-hamburger_close > *, .navigation-hamburger_close > *:link, .navigation-hamburger_close > *:visited {
          text-decoration: none;
          color: #F6F7EB;
          font-size: 2.4rem; }
          .navigation-hamburger_close > *:not(:last-child), .navigation-hamburger_close > *:link:not(:last-child), .navigation-hamburger_close > *:visited:not(:last-child) {
            margin-bottom: 2rem; }
          .navigation-hamburger_close > *::after, .navigation-hamburger_close > *:link::after, .navigation-hamburger_close > *:visited::after {
            content: "";
            position: relative;
            display: block;
            height: 3px;
            width: 100%;
            background-color: #4717F6;
            transform: scaleX(0);
            transform-origin: 0%;
            transition: transform 500ms ease;
            top: 2px; }
          .navigation-hamburger_close > *:hover::after, .navigation-hamburger_close > *:link:hover::after, .navigation-hamburger_close > *:visited:hover::after {
            transform: scaleX(1); }
          .navigation-hamburger_close > *:hover, .navigation-hamburger_close > *:link:hover, .navigation-hamburger_close > *:visited:hover {
            cursor: pointer; } }

.hamburger {
  display: none; }
  @media only screen and (max-width: 65em) {
    .hamburger {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 30px;
      right: 30px;
      width: 30px;
      height: 50px;
      transition: all 0.3s ease; }
      .hamburger::before, .hamburger::after {
        clear: both;
        content: ""; }
      .hamburger:hover {
        cursor: pointer; }
      .hamburger > * {
        border-bottom: 4px solid #0E0B16;
        margin-top: 1.5rem; }
      .hamburger-one {
        transform: rotate(0);
        transition: all 0.3s ease; }
        .hamburger-one_open {
          transition: all 0.3s ease;
          transform: rotate(45deg) translateY(1.5rem) translateX(1rem); }
      .hamburger-two {
        opacity: 1;
        width: 80%;
        align-self: flex-end; }
        .hamburger-two_open {
          opacity: 0; }
      .hamburger-three {
        transform: rotate(0);
        transition: all 0.3s ease; }
        .hamburger-three_open {
          transition: all 0.3s ease;
          transform: rotate(-45deg) translateY(-2rem) translateX(1.5rem); } }
  @media only screen and (max-width: 65em) {
    .hamburger_open {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 30px;
      right: 30px;
      width: 30px;
      height: 50px;
      transition: all 0.3s ease; }
      .hamburger_open:hover {
        cursor: pointer; }
      .hamburger_open > * {
        border-bottom: 4px solid #0E0B16;
        margin-top: 1.5rem; } }

.scroll-indicator {
  position: absolute;
  bottom: 5%;
  display: block;
  text-align: center;
  font-size: 4rem;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9000;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  -webkit-animation: fade_move_down 3s ease-in-out infinite;
  animation: fade_move_down 3s ease-in-out infinite; }

.home {
  display: flex;
  flex-direction: column; }
  .home-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 95vh;
    margin-top: 3rem; }
    .home-main-img {
      background-image: url(../images/luisValentinAnchor.jpg);
      background-size: cover;
      height: 70rem;
      width: 70rem; }
    @media only screen and (max-width: 560px) {
      .home-main {
        font-weight: 800; } }
    .home-main-last {
      margin-bottom: 10rem; }
  .home-divisor {
    opacity: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    clip-path: polygon(40% 0%, 88% 0%, 52.5% 100%, 2.5% 100%); }
    .home-divisor::before, .home-divisor::after {
      clear: both;
      display: none; }
  .home-cta {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
    margin: 3rem 0 3rem;
    padding-left: 1rem;
    width: 35%; }
    @media only screen and (max-width: 560px) {
      .home-cta {
        position: absolute;
        z-index: 1000;
        width: 60%;
        margin-top: 30rem; } }
    .home-cta_text {
      width: 80%;
      color: #F6F7EB;
      font-size: 6rem;
      animation: moveInBottom 1s ease 0.5s;
      animation-fill-mode: backwards;
      text-shadow: 0 0 2rem black; }
      @media only screen and (max-width: 560px) {
        .home-cta_text {
          color: #F6F7EB; } }
    .home-cta_button {
      margin: 5rem 0;
      background-color: #4717F6;
      padding: 1rem 1.5rem;
      border-radius: 3px;
      font-size: 3.6rem;
      font-weight: 500;
      border: none;
      animation: moveInBottom 1s ease 0.75s;
      animation-fill-mode: backwards;
      transition: all 0.4s ease; }
      .home-cta_button, .home-cta_button:link, .home-cta_button:visited {
        text-decoration: none;
        color: #F6F7EB; }
      .home-cta_button:hover {
        background-color: #a340ff;
        color: #fff;
        cursor: pointer; }
      .home-cta_button::before, .home-cta_button::after {
        clear: both;
        display: none; }
  .home-image1 {
    width: 55%;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background-position: center;
    object-fit: cover;
    animation: moveInRight 1s ease 0.75s;
    animation-fill-mode: backwards; }
    @media only screen and (max-width: 560px) {
      .home-image1 {
        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
        width: 100%;
        filter: brightness(0.5);
        object-position: 40% 0%; } }
  .home-image2 {
    width: 55%;
    height: 100%;
    clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
    background-position: right;
    object-fit: cover;
    animation: moveInLeft 1s ease 0.75s;
    animation-fill-mode: backwards; }
    @media only screen and (max-width: 560px) {
      .home-image2 {
        clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 10% 100%);
        width: 100%;
        filter: brightness(0.5);
        object-position: 70% 0%; } }

.services {
  min-height: 70vh;
  color: #F6F7EB;
  background-color: #17102b;
  padding: 0 10% 10rem; }
  .services-grid {
    padding-top: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 15rem;
    grid-column-gap: 10rem; }
    .services-grid-each-title {
      font-size: 4rem;
      padding-bottom: 2rem; }
    .services-grid-each-text {
      text-align: left;
      font-size: 3rem; }

.about {
  min-height: 70vh;
  background-color: #0E0B16;
  padding: 0 10%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .about-content {
    display: flex;
    margin: 10rem 0; }
    .about-content-text {
      font-size: 3.6rem;
      color: #F6F7EB;
      width: 50%;
      margin-right: 13rem; }
    .about-content-image {
      height: auto;
      width: 70rem;
      background-image: url(../images/luisValentinArms.jpg);
      background-size: cover; }

.reviews {
  background-color: #17102b;
  min-height: 50vh;
  padding: 0 10%; }
  .reviews-content {
    display: flex;
    justify-content: space-between;
    color: #F6F7EB;
    padding: 5rem 0 10rem; }
    .reviews-content-each {
      display: flex;
      flex-direction: column;
      font-size: 2.6rem; }
      .reviews-content-each-text {
        font-size: 3rem;
        margin-top: 2rem; }
      .reviews-content-each-author {
        font-size: 2rem;
        margin-top: 3rem; }

.contact {
  display: flex;
  flex-direction: column;
  animation: fadeIn 1s ease 0.75s;
  animation-fill-mode: backwards;
  min-height: 63vh; }
  @media only screen and (max-width: 560px) {
    .contact {
      min-height: 72vh; } }
  .contact-title {
    font-size: 3rem;
    margin-top: 0rem;
    color: #F6F7EB;
    text-align: center; }
    @media only screen and (max-width: 560px) {
      .contact-title {
        width: 90%; } }
  .contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0E0B16;
    margin: 2rem 0 0;
    width: 50%;
    text-align: center; }
    @media only screen and (max-width: 560px) {
      .contact-text {
        margin: 4rem 0 0;
        width: 80%; } }
    .contact-text__title {
      font-size: 4rem; }
    .contact-text__paragraph {
      font-size: 3rem;
      margin-top: 3rem; }
  .contact-links {
    width: 60rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: -10rem; }
    @media only screen and (max-width: 560px) {
      .contact-links {
        width: 55rem; } }
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem auto 10rem;
    font-size: 2.6rem; }
    @media only screen and (max-width: 560px) {
      .contact-form {
        flex-direction: column;
        margin: 15rem 0 0;
        padding-bottom: 15rem; } }
    .contact-form-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 5rem; }
      .contact-form-group-image {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 5rem; }
      .contact-form-group::after {
        content: "";
        position: relative;
        display: block;
        height: 4px;
        width: 100%;
        background-color: #0E0B16;
        transform: scaleX(0);
        transform-origin: 0%;
        transition: transform 0.3s ease;
        top: 0; }
      .contact-form-group:focus-within {
        border-color: transparent; }
        .contact-form-group:focus-within::after {
          transform: scaleX(1); }
        .contact-form-group:focus-within .home-contact-form-group__label {
          transform: translateY(-3.5rem); }
      .contact-form-group__input:not(:placeholder-shown) + .contact-form-group__label {
        transform: translateY(-3.5rem); }
      .contact-form-group__label {
        margin: 3rem 0 1rem;
        align-self: start;
        color: #F6F7EB;
        position: absolute;
        bottom: 0rem;
        font-size: 2rem;
        transition: transform 0.5s ease; }
        .contact-form-group__label:hover {
          cursor: text; }
        @media only screen and (max-width: 560px) {
          .contact-form-group__label {
            bottom: 1rem; } }
      .contact-form-group__input {
        background-color: transparent;
        color: #F6F7EB;
        border: none;
        border-bottom: 2px dashed #666;
        padding: 0.5rem 0rem;
        font-size: 3rem; }
        .contact-form-group__input:hover {
          cursor: text; }
        .contact-form-group__input-file {
          visibility: hidden;
          display: none; }
          .contact-form-group__input-file-label {
            margin: 1rem 0;
            background-color: #ccc;
            padding: 1rem 1.5rem; }
            .contact-form-group__input-file-label:hover {
              background-color: #ddd;
              cursor: pointer; }
    .contact-form-button {
      background-color: #4717F6;
      color: #F6F7EB;
      font-size: 3rem;
      border-radius: 3px;
      border: none;
      padding: 1rem 1.5rem;
      text-transform: uppercase;
      margin-top: 3rem;
      align-self: center;
      transition: all 0.1s ease-out; }
      .contact-form-button:hover {
        background-color: #4717F6;
        color: #fff;
        cursor: pointer; }

.faq {
  background-color: #17102b;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s ease 0.5s;
  animation-fill-mode: backwards; }

.accordion-list {
  list-style: none;
  margin: 10rem 0 10rem 0;
  padding: 0;
  background-color: #fff;
  max-width: 30vw;
  border-radius: 0.4rem;
  overflow: hidden; }
  @media only screen and (max-width: 65em) {
    .accordion-list {
      max-width: 80vw; } }
  .accordion-list__item + .accordion-list__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }

.accordion-item--opened .accordion-item__icon {
  transform: rotate(180deg); }

.accordion-item--opened .accordion-item__inner {
  max-height: 100rem;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.5s;
  transition-property: max-height; }

.accordion-item--opened .accordion-item__content {
  opacity: 1;
  transform: translateY(0);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.5s;
  transition-property: opacity, transform; }

.accordion-item__line {
  display: block;
  padding: 0.8rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 2;
  position: relative; }
  @media only screen and (max-width: 65em) {
    .accordion-item__line {
      padding: 1.5rem 2rem; } }
  .accordion-item__line:hover {
    cursor: pointer; }

.accordion-item__title {
  font-size: 2.6rem;
  margin: 0;
  font-weight: 700;
  color: #121212; }

.accordion-item__icon {
  width: 3rem;
  height: 3rem;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAABGklEQVR4Ae3RAcZCQRiF4buDfwshBGi+2UQgcIGAVtpSIuS/KyilG+UTcbk6zIH3GQBm3mM6AAAAAAAAAACA+eqf/yZBXcV/2XeCVPYx1FXj/FjGUMd45AQp/1HHGGLZNL+e61jHnKDmv8652YT1IvPfE2LX/Sh27/ycsF60yT/lk58JYn6eU4MJccjnlAmZ/33i0OAH4jg9Qcw/5g9YJpS+m6n0xvzpCfVe+nn59S7kGyYo+YYJWz3fO+E2PaFs9XzPhMy/6fmWCXq+YUJs9HzrhLh+JsQmrnq+bYKeb52g53snXPR88wQ93z9Bz/dP0PP9E/R89wQ93zpBz7dO0POtE/R86wQ93zpBzzdP+MoHAAAAAAAAAADAExTnTW20AtjhAAAAAElFTkSuQmCC);
  opacity: 0.6; }

.accordion-item__inner {
  max-height: 0;
  overflow: hidden;
  text-transform: ease-in;
  transition-duration: .3s;
  transition-property: max-height;
  z-index: 1;
  position: relative; }
  .accordion-item__inner:hover {
    cursor: pointer; }

.accordion-item__content {
  opacity: 0;
  transform: translateY(-1rem);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: .3s;
  transition-property: opacity, transform;
  padding: 0 1.2rem 1.2rem; }

.accordion-item__paragraph {
  margin: 0;
  font-size: 2.4rem;
  color: #333;
  font-weight: 300;
  line-height: 1.3; }

.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  align-items: center;
  font-size: 2rem;
  color: #F6F7EB;
  background-color: rgba(8, 6, 12, 0.9);
  padding: 3rem 0; }
  .footer-contact {
    width: auto; }
    .footer-contact > *:not(:first-child) {
      margin-top: 1.5rem; }
  .footer a {
    color: #349; }
    .footer a:hover {
      cursor: pointer; }
  @media only screen and (max-width: 65em) {
    .footer-logo {
      display: none; } }
  .footer-links {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 560px) {
      .footer-links {
        width: 40%; } }
    .footer-links > * {
      font-size: 3.2rem;
      transition: all 0.2s ease-out;
      padding: 1rem; }
    .footer-links_facebook, .footer-links_facebook:link, .footer-links_facebook:visited {
      color: #3b5998;
      margin-right: 5rem; }
      @media only screen and (max-width: 560px) {
        .footer-links_facebook, .footer-links_facebook:link, .footer-links_facebook:visited {
          margin-right: 2rem; } }
      .footer-links_facebook:hover, .footer-links_facebook:link:hover, .footer-links_facebook:visited:hover {
        cursor: pointer;
        color: #2d4577; }
    .footer-links_instagram, .footer-links_instagram:link, .footer-links_instagram:visited {
      color: #e1306c;
      margin-right: 5rem; }
      @media only screen and (max-width: 560px) {
        .footer-links_instagram, .footer-links_instagram:link, .footer-links_instagram:visited {
          margin-right: 2rem; } }
      .footer-links_instagram:hover, .footer-links_instagram:link:hover, .footer-links_instagram:visited:hover {
        cursor: pointer;
        color: #c13584; }
    .footer-links_offerup, .footer-links_offerup:link, .footer-links_offerup:visited {
      color: #008272;
      margin-right: 5rem; }
      @media only screen and (max-width: 560px) {
        .footer-links_offerup, .footer-links_offerup:link, .footer-links_offerup:visited {
          margin-right: 2rem; } }
      .footer-links_offerup:hover, .footer-links_offerup:link:hover, .footer-links_offerup:visited:hover {
        cursor: pointer;
        color: #008257; }
    .footer-links_offerup-image {
      margin-top: 1rem;
      height: 3.2rem;
      width: 3.2rem; }
