.about {
  min-height: 70vh;
  background-color: $black;
  padding: 0 10%;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include respond(phone){

  }

  &-content {
    display: flex;
    margin: 10rem 0;

    &-text {
      font-size: 3.6rem;
      color: $white;
      width: 50%;
      margin-right: 13rem;
    }

    &-image {
      height: auto;
      width: 70rem;
      background-image: url(../images/luisValentinArms.jpg);
      background-size: cover;
    }
  }
}
