.reviews {
    background-color: $lightblack;
    min-height: 50vh;
    padding: 0 10%;

    &-content {
        display: flex;
        justify-content: space-between;

        color: $white;
        padding: 5rem 0 10rem;

        &-each {
            display: flex;
            flex-direction: column;
            font-size: 2.6rem;

            &-logo {
            }

            &-text {
                font-size: 3rem;
                margin-top: 2rem;
            }

            &-author {
                font-size: 2rem;
                margin-top: 3rem;
            }
        }
    }
}
