.services {
    min-height: 70vh;
    color: $white;
    background-color: $lightblack;
    padding: 0 10% 10rem;

    &-grid {
        padding-top: 10rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 15rem;
        grid-column-gap: 10rem;

        &-each {

            &-title {
                font-size: 4rem;
                padding-bottom: 2rem;
            }

            &-text {
                text-align: left;
                font-size: 3rem;
            }
        }
    }
}